* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#001f3f, #0074D9);
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.container {
    display: flex;
    gap: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px 50px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
}

.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p:first-child {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: #00d4ff;
}

.container p:last-child {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #cce7ff;
    margin-top: 5px;
}
