.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  min-width: 300px;
  text-align: center;
}
.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn{
    min-width: 80px;
    padding: 10px;
    margin: 0 15px;
    border-radius: 10px;
    border: none;
    color: white;
}
.yes-btn {
  background: #e74c3c;
}

.no-btn {
  background: #75bbeb;

}