.post-card {
    width: 350px;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    background: #fff;
}

h2,h3 {
    margin-bottom: 10px;
}

 img {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}

ul{
    margin-left: 20px;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #3366cc;
}
button{
    background: #0395d8;
    border: none;
    color:#ddd;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}