$green: #178642;
$orange: #ffae00;
$purple: #7c04b4;




$text-dark: #333;

.course-card {
  width: 220px;
  height: 160px;
  padding: 16px;
  border: 2px solid transparent;
  border-radius: 14px;
  font-family: Arial, sans-serif;
  background: #fff;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease,
    border-color 0.3s ease;

  &.free-border {
    color: $green;
    border-color: $green;
    box-shadow: 0 0 10px rgba($green, 0.35);
  }

  &.new-border  {
     color: $orange;
    border-color: $orange;
    box-shadow: 0 0 10px rgba($orange, 0.35);
    
  }
  &.nothing-border{
    color: $purple;
    border-color: $purple;
    box-shadow: 0 0 10px rgba($purple, 0.35);
  }

  &.beginner {
    background: rgba($green, 0.08);
  }
  &.intermediate {
    background: rgba($orange, 0.12);
  }

  &.advanced {
    background: rgba($purple, 0.1);
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 18px currentColor;
  }

  .badges {
    display: flex;
    gap: 6px;
    margin-bottom: 12px;

    .badge {
      padding: 4px 10px;
      font-size: 11px;
      font-weight: 700;
      border-radius: 14px;
      border: 1px solid;
      color: #fff;

      &.free {
        background: $green;
        border-color: $green;
      }

      &.new {
        background: $orange;
        border-color: $orange;
      }
    }
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
    color: #222;
  }

  .level,
  .duration {
    font-size: 15px;
    margin: 2px 0;
    font-weight: 600;
    color: #555;
  }
}